
.nav-bar {
    display: flex;
}

.nav-bar a {
    color: green;
}

.nav-bar span {
    color: blue;
    width: auto;
}
.nav-bar  * {
    width: 100px;
    height: 30px;
    text-align: center;
    border-style: solid;
    border-color: black;
    border-width: 0px 2px 0px 0px;
    margin: 5px;
    padding: 7px;
}

.nav-bar :last-child {
    border: none;
}


.content {
    display: flex;
    justify-content: center;
}
