<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    {% load static %}
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="{% static 'todolist/base.css' %}">

    {% block js %}

    {% endblock %}

    {% if title %}l 
    <title> {{ title }}</title>
    {% endif %}
</head>
<body>
    <div class="nav-bar">
        <span>Write something</span>
    </div>

    <hr>
    
    {% block content %}

    {% endblock %}

</body>
</html>