{% extends 'todolist/base.html' %}
{% load static %}

{% block style %}
    <script src="{% static 'todolist/main.js' %}"></script>
    <link rel="stylesheet" href="{% static 'todolist/main.css' %}">
{% endblock %}


{% block content %}
    {% if tasks %}

    <div class="tasks-div">
        <div class="new-task-div">
            <form action="{% url 'todolist:create' %}" method="post">
                {% csrf_token %}
                {{ form }}
                <input id="btn_create" class="btn btn-primary" type="submit" value="New Task">
            </form>

    </div>
        {% for task in tasks %}
        <div class="task">
            <textarea onfocusout="updateTask(`{% url 'todolist:update' task.id %}`, this)">{{ task.task_name }}</textarea>
            <button class="btn btn-danger" onclick="delTask(`{% url 'todolist:delete' task.id %}`, this)">Delete</button>
        </div>
        {% endfor %}
    </div>

    {% else %}

    No tasks found.

    {% endif %}

    </div>
    <script>
        var httpRequest;

        document.addEventListener("DOMContentLoaded", function() {

        })

        function updateTask(endpoint, element) {
            let new_task_name = element.value.trim();
            console.log(new_task_name)
            httpRequest = new XMLHttpRequest;
            httpRequest.onreadystatechange = function() {
                postUpdate(element);
            }

            httpRequest.open("POST", endpoint)
            httpRequest.setRequestHeader("X-CSRFToken", '{{ csrf_token }}')
            httpRequest.setRequestHeader("Content-Type", "application/x-www-form-urlencoded")
            httpRequest.send(`task_name=${new_task_name}`)

        }

        function delTask(endpoint, div) {
            if (confirm("Are you sure?")) {
                httpRequest = new XMLHttpRequest();
                httpRequest.onreadystatechange = function () {
                    postDel(div)
                }
                httpRequest.open("GET", endpoint);
                // xmlhttp.setRequestHeader("Content-Type", "application/json")
                httpRequest.send()
            }
        }

        function postDel(element) {
            if (httpRequest.readyState === XMLHttpRequest.DONE) {
                let response = JSON.parse(httpRequest.responseText);
                if (httpRequest.status === 200) {

                    element.parentElement.remove();
                } else {
                    alert(`error deleting task: ${response['task_name']}`)
                }
            }
        }

        function postUpdate(element) {
            if (httpRequest.readyState === XMLHttpRequest.DONE) {
                if (httpRequest.status === 200) {
                    element.value = httpRequest.responseText;
                } else {
                    alert("Can not update!")
                }
            }
        }

    </script>
{% endblock %}